@(form: play.data.Form[model.User])
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }


@main("Create Account") {

    <div class="container">
        @helper.form(action = routes.CreateAccount.addUser(), 'class -> "well form-horizontal") {
           @helper.inputText(form("username"),'_label -> "Username")
           @helper.inputText(form("email"),'_label -> "Email")

            <div class="controls">
                <a href ="@routes.Login.login()" class="btn btn-success" role="button">Back To Login</a>
                <input type="submit" class="btn btn-primary" value="Create"/>

            </div>
        }
    </div>

}
