@(nav1: String, nav2: String)
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@navBar("The Button", nav1, nav2) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/flipclock.css")">
    <script src="@routes.Assets.at("javascripts/flipclock.min.js")" type="text/javascript"></script>
    <div class="clock" style="margin:2em;"></div>
    <div class="container">
            <div class="controls">
                <!-- Using inline onclick functions are generally bad practice but it works for now, fix it later if need be  -->
                <button onclick="resetClock()" type="button" class="btn btn-info btn-lg">The Button</button>
            </div>
    </div>
    <script type="text/javascript">
        var clock;
        var maxTime = 600;

        $(document).ready(function() {
            // Instantiatande a counter, figure out how to do dynamic stuff with reseting the clock for everyone
            clock = new FlipClock($('.clock'), maxTime, {
                clockFace: 'Counter',
                autoStart: true,
                countdown: true
            });
        });

        function resetClock() {
            clock.setTime(600);
        }

    </script>
}
